<a href="https://colab.research.google.com/github/Huzair13/loan_prediction/blob/main/loan_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df=pd.read_csv("train.csv")

In [ ]:
y = df['is_claim']
print(y.shape)
print(y.sum())

(58592,)
3748

In [ ]:
df.drop(['policy_id','is_claim'],axis=1,inplace=True)

In [ ]:
cat = df.select_dtypes(exclude=["number","bool_"])
cat_col = cat.columns

In [ ]:
dum=pd.get_dummies(cat)
dum.dtypes
df.drop(cat_col, axis = 1, inplace=True)
df = pd.concat([df,dum], axis=1)

In [ ]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss = ss.fit_transform(df)
df = pd.DataFrame(ss)

In [ ]:
# from sklearn.model_selection import train_test_split
# X_train, X_test,y_train, y_test = train_test_split(df,y, test_size = 0.2, random_state = 28)
X_train = df
y_train = y

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)

LogisticRegression()

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfr = RandomForestClassifier(n_estimators = 100, random_state = 0)
rfr.fit(X_train,y_train)

RandomForestClassifier(random_state=0)

In [ ]:
# import xgboost as xgb
# xgb_c = xgb.XGBClassifier()
# xgb_c.fit(X_train, y_train)

In [ ]:
from sklearn import linear_model
Lreg = linear_model.Lasso(alpha=0.05, normalize=True)
Lreg.fit(X_train,y_train)

D:\Program Files\Anaconda\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Lasso())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  warnings.warn(

Lasso(alpha=0.05, normalize=True)

In [ ]:
from sklearn.svm import SVC
svcf=SVC(gamma='scale')
svcf.fit(X_train,y_train)

SVC()

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [ ]:
from sklearn.neural_network import MLPClassifier
NN = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(100,), random_state=1)
NN.fit(X_train, y_train)

D:\Program Files\Anaconda\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPClassifier(alpha=1e-05, random_state=1, solver='lbfgs')

In [ ]:
df2=pd.read_csv("test.csv")

In [ ]:
df2.head()

,policy_id,policy_tenure,age_of_car,age_of_policyholder,area_cluster,population_density,make,segment,model,fuel_type,...,is_rear_window_defogger,is_brake_assist,is_power_door_locks,is_central_locking,is_power_steering,is_driver_seat_height_adjustable,is_day_night_rear_view_mirror,is_ecw,is_speed_alert,ncap_rating
0,ID58593,0.341732,0.00,0.586538,C3,4076,1,A,M1,CNG,...,No,No,No,No,Yes,No,No,No,Yes,0
1,ID58594,0.307241,0.13,0.442308,C8,8794,1,B2,M6,Petrol,...,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,2
2,ID58595,0.327924,0.12,0.451923,C8,8794,2,A,M3,Petrol,...,No,No,Yes,Yes,Yes,No,Yes,Yes,Yes,2
3,ID58596,0.782654,0.01,0.461538,C5,34738,1,A,M1,CNG,...,No,No,No,No,Yes,No,No,No,Yes,0
4,ID58597,1.233404,0.02,0.634615,C5,34738,1,A,M1,CNG,...,No,No,No,No,Yes,No,No,No,Yes,0

In [ ]:
df2.drop('policy_id',axis=1,inplace=True)

In [ ]:
df2.columns

Index(['policy_tenure', 'age_of_car', 'age_of_policyholder', 'area_cluster',
       'population_density', 'make', 'segment', 'model', 'fuel_type',
       'max_torque', 'max_power', 'engine_type', 'airbags', 'is_esc',
       'is_adjustable_steering', 'is_tpms', 'is_parking_sensors',
       'is_parking_camera', 'rear_brakes_type', 'displacement', 'cylinder',
       'transmission_type', 'gear_box', 'steering_type', 'turning_radius',
       'length', 'width', 'height', 'gross_weight', 'is_front_fog_lights',
       'is_rear_window_wiper', 'is_rear_window_washer',
       'is_rear_window_defogger', 'is_brake_assist', 'is_power_door_locks',
       'is_central_locking', 'is_power_steering',
       'is_driver_seat_height_adjustable', 'is_day_night_rear_view_mirror',
       'is_ecw', 'is_speed_alert', 'ncap_rating'],
      dtype='object')

In [ ]:
cat2 = df2.select_dtypes(exclude=["number","bool_"])
cat_col2 = cat2.columns

In [ ]:
dum2=pd.get_dummies(cat2)
dum

,area_cluster_C1,area_cluster_C10,area_cluster_C11,area_cluster_C12,area_cluster_C13,area_cluster_C14,area_cluster_C15,area_cluster_C16,area_cluster_C17,area_cluster_C18,...,is_power_steering_No,is_power_steering_Yes,is_driver_seat_height_adjustable_No,is_driver_seat_height_adjustable_Yes,is_day_night_rear_view_mirror_No,is_day_night_rear_view_mirror_Yes,is_ecw_No,is_ecw_Yes,is_speed_alert_No,is_speed_alert_Yes
0,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58587,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,0,1,0,1
58588,0,0,0,0,0,1,0,0,0,0,...,0,1,1,0,1,0,1,0,0,1
58589,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,0,0,1
58590,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
58591,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,1,0,0,1,0,1

In [ ]:
df2.drop(cat_col2,axis=1,inplace=True)
df2=pd.concat([df2,dum2],axis=1)

In [ ]:
from sklearn.preprocessing import StandardScaler
ss2 = StandardScaler()
ss2 = ss2.fit_transform(df2)
df2 = pd.DataFrame(ss2)

In [ ]:
pred = lr.predict(df2)
pred = pd.DataFrame(pred)
# pred[0][0] = 1
pred.sum()

0    0
dtype: int64

In [ ]:
predrfc = rfr.predict(df2)
predrfc = pd.DataFrame(predrfc)
# pred[0][0] = 1
predrfc

       0
0      0
1      0
2      0
3      0
4      1
...   ..
39058  0
39059  0
39060  0
39061  0
39062  0

[39063 rows x 1 columns]

In [ ]:
predlass =Lreg.predict(df2)
print(predlass)
predlass = np.round_(predlass)
# predlass = pd.Series(predlass)
# predlass=predlass.round().astype(int)
predlass.sum()

[0.06396778 0.06396778 0.06396778 ... 0.06396778 0.06396778 0.06396778]

0.0

In [ ]:
predn = NN.predict(df2)
predn = pd.DataFrame(predn)
predn.sum()

0    2
dtype: int64

In [ ]:
prednai = classifier.predict(df2)
prednai = pd.DataFrame(prednai)
prednai.sum()

0    17223
dtype: int64

In [ ]:
sub = pd.read_csv("sample_sub.csv")
sub.drop(["is_claim"], axis = 1, inplace = True)
sub = pd.concat([sub, prednai], axis = 1)
sub.columns =['policy_id', 'is_claim']
sub.to_csv("submission_file.csv", index = False)

In [ ]:
predsvc=svcf.predict(df2)
predsvc=pd.DataFrame(predsvc)
predsvc

       0
0      0
1      0
2      0
3      0
4      0
...   ..
39058  0
39059  0
39060  0
39061  0
39062  0

[39063 rows x 1 columns]

In [ ]:
predsvc.sum()

0    0
dtype: int64